
<!DOCTYPE html>



<html>
  <head>
  	    <% include partials/head.ejs %>

    <meta http-equiv="Refresh" content="0; url=/login" />
  </head>
  <body>
    <center><h1>Welcome</h1></center>
  </body>
</html>
